@font-face {
  font-family: 'miso';
  src: url('../fonts/miso-bold-webfont.woff2') format('woff2'),
       url('../fonts/miso-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'miso';
  src: url('../fonts/miso-webfont.woff2') format('woff2'),
       url('../fonts/miso-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}